[init]
	defaultBranch = main
[user]
	email = shanmukh02.ch@gmail.com
	name = SHANMUKH-CH
	signingkey = A6926ECA5F876CC7
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
